.container-logo {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    text-align: center;
    justify-content: center;
}

.container-logo a img {
    display: flex;
    width: 200px;
    cursor: pointer;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 540px) {
    .container-logo img {
        margin-top: 20px;
    }
}

@media screen and (min-width: 960px) and (max-width: 1370px) {
    .container-logo {
        margin: 0 auto;
        scale: 0.8;
    }
}

/*#4C073D (grape)
#4C4339 (mousse)
#E1DACF (light sand)
#DB8D1B (laranja doce) */